@import "../../../data/styles.css";

.homepage-education {
	width: 90%;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 1;
}

.homepage-education:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.homepage-education-content {
	padding: 30px;
}

.homepage-education-date:hover {
	opacity: 1;
    font-weight: 400;
}

.homepage-education-date {
	opacity: 0.7;
    text-align: left;
	color: #606060;
	font-size: 12px;
	margin-bottom: 1em;
    font-weight: 400;
}

.homepage-education-title {
	opacity: 1;
	color: #404040;
	font-size: 18px;
	margin-bottom: 1em;
	font-weight: 700;
}

.homepage-education-description {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 14px;
	line-height: 1.5;
}

.homepage-education-link {
	opacity: 1;
	padding-top: 20px;
	font-size: 15px;
	font-weight: 700;
}

.homepage-education-link a {
	color: var(--link-color);
	text-decoration: none;
}

.homepage-vertical-bar {
    width: 1px;
    background-color: #000; /* Black color for the bar */
    height: 100px; /* Adjust according to your content's height */
    margin-right: 20px; /* Space between the bar and the text */
}

@media (max-width: 600px) {
	.homepage-education {
		width: 100%;
	}
}
